.custom-carousel-img {
  max-width: 300px;
    width: 250px; /* Set width to 30% of the screen */
    height: 400px;
    margin: auto; /* Center the image horizontally */
    display: block; /* Ensure the image is a block-level element to allow margin auto to work */
  }

  div{
    background-color: #1D3557;
  }
  
  h1{
    color: #c1dbdb;
  }

  label{
    color:#c1dbdb;
  }

  .carousel-caption {
    /* Your custom styles here */
    opacity: 0.1;
}

.carousel-indicators{
  opacity: 0.5;
}

.search-btn{
  background-color: rgb(20, 20, 68);
  border-color: rgb(41, 41, 130);
}

Button :hover{
  background-color: #457b9d;
}

.web-name {
  font-size: 56;
  font-family: "Nabla", system-ui;
  font-optical-sizing:none;
  font-weight: 400;
  font-style:normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
  color:#c1dbdb;
}

.login-form{
  width: 600px; /* Set the width to 100 pixels */
  border:black;
}


.nav-bar{
  background-color: #1D3557;
}

.search-box{
  background-color: #c1dbdb;
}

.nav a{
  color: #c1dbdb;
}


.movie-card{
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.movie-description{
  color: #c1dbdb;

}


.movie-img{
  max-width: 100%; /* Set maximum width to fill the card */
  height: auto; /* Maintain aspect ratio */
}

.Movie{
  padding: 10px; /* Reduced padding */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Adjust width and height as needed */
    width: 100%; /* Full width */
    max-width: 200px; /* Maximum width */
    height: 100%; /* Full height */
    max-height: 100px; /* Maximum height */

}


.movie-list{
  display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px; /* Gap between cards */
}


.sign-up{
  color: #c1dbdb;
  font-size: 12;
}
