/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Style for the form container */
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Style for form labels */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  textarea {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Style for form input fields */
  input {
    width: 70%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style for form submit button */
  #form-submit {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Hover effect for submit button */
  #form-submit:hover {
    background-color: #45a049;
  }

  h2 {
    color:#c1dbdb ;
  }
  