.movie-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .movie-detail-header {
    display: flex;
    align-items: center;
  }
  
  .movie-detail-header img {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }
  
  .movie-detail-info {
    flex: 1;
  }
  
  .movie-detail-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .movie-detail-info p {
    margin-bottom: 5px;
  }
  
  .movie-detail-booking {
    margin-top: 20px;
  }

  .movie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }

  .trailer-container {
    margin-top: 20px; /* Adjust as needed */
    text-align: center;
  }
  
  .trailer-wrapper {
    max-width: 640px; /* Adjust as needed */
    width: 100%;
    overflow: hidden;
    margin: 0 auto; /* Center horizontally */
  }
  

  p {
    color: white;
  }